/*CSS da pagina fale conosco*/
 


.sub-title{
   margin: 0 20PX;
}
main .contact-form > div
{
    margin:15px 0px;
}

main .contact-form > div label{
    display:block;
    margin-bottom: 10px;
}

main .contact-form input,
main .contact-form select,
main .contact-form  textarea
{
    width: 90%;
    padding: 5px 15px;
    outline-color: #5e49ff;
}

main .contact-form select{
    width: 100%;
}

main .contact-form textarea {
    /*quando o campo é flexivel*/
    resize: none;
    padding-top: 10px;
}

/*Definindo o CSS pra propriedade type do tipo radio*/
main .contact-form > div input[type="radio"], 
main.contact-form > input[type="checkbox"] {
width: 25px;
}

/*A quarta div dentro de contact form*/
main .contact-form > div:nth-child(4) span{
    color: #5e49ff;;
}