/*Estilos relacionados ao cabeçalho*/

/*Por padrão:
Media query serve para aplicar tipos definidos apenas para midias determinadas (podem ter telas ou outro atributos)

As propriedades são: not|only (se vai aplciar ou não) mediatype (tipo de midia) and (mediafeature)
*/


/*992 px é o limite de um tablet*/
@media  screen and (min-width:992px) 
{

    header  {
        position: relative;

    }
    .menu{
        /*O menu vai para a parte superior a direita, 2% é os 2% do limite da margem*/
        position: absolute;
        right: 2%;
        top: 18%;
    }
}


header .link-logo{
    /*Para ocupar a linha como bloco igual h1 não como link*/
    display: block;
    /*25 px encima e embaixo, 20 direita e esquerda*/
    padding: 25px 20px;
    border-bottom: 1px solid #25cbd3;
}
header nav ul{
    text-align: center;
    padding: 0;
}
/* ul/li/a ele aplica esse estilo em cascata*/
header nav ul li {
    /* Para os links ficarem um ao lado do outro*/
    display: inline-block;
    color:#fff;
 
}
/*Isso é uma pseudo classe, que aplica uma condição especial a um código
Neste caso vou aplicar a margin exceto (not) o ultimo elemento (last-child)
*/
header nav ul li:not(:last-child)
{
    margin-right: 15px;
}

.menu li a{
    color: #fff;
    text-decoration: none;
}
/*Quando passar o mouse encima*/
.menu li a:hover{
    color: #25cbd3;
    text-decoration: underline;
}