


.cover-container figure img{
    width: 100%;
}
 

main section abbr{
    color:#25cbd3;
    text-decoration: underline;
}


main section div .video{
    width: 65%;
    height: 50%;
    margin: 0;
    padding: 20px;
}
 
 /*Para deskptop*/
@media screen and (min-width: 992px) {
    /* Definições de estilo para dispositivos maiores, como desktops */

    /* , para diversos seletores*/
    .cover-container,.section-video {
        width: 40%;
        display: inline-block;
        height: 315px;
    }
    main .section-azure blockquote
    {
            text-align: center;
            padding: 0 20px;
            margin: auto;
    }
 
     
}
 