

.content-container{
    padding: 20px;
}

.content-container h2.title{
    font-size: 1.5em;
  
}

/*Ele vai pegar somente os filhos de primeiro nível*/
.content-container > div img {
    width: 100%;
    border-radius: 20px;
    border: 2px solid  #fff;
}


@media screen  and (min-width: 992px){
    .content-container article p{
        margin: 0 auto 10px;
    }
    
    
} 